@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background-image: url(./img/bgggg.jpeg); 
  background-attachment: fixed; /*FAZ COM QUE A IMAGEM NÃO ROLE COM A PÁGINA*/  
  background-repeat: no-repeat; 
  background-size: 100%; /*AJUSTE DENTRO DA TELA DISPONÍVEL*/
 background-position-y: -150px;  
}


/*HEADER*/
.cabecalho {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display:flex;
  padding-top: .75rem;
  padding-bottom: .75rem;
}
.cabecalho-navegacao{
  width: 100%;
  display:flex;
}
.cabecalho-imagem{
  position:relative;
  top: -100px;
  
}
nav li{
  text-align: center;
  display: inline;
  margin-top: 1rem;
  margin-right: .7rem;
  margin-bottom: 1.25rem;
  margin-left: .7rem;
}
nav li a{
  font-family: "Shadows Into Light";
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #33dd50;
  font-weight: bold;
  text-decoration:none;
  padding-right: 6rem;
}
nav a:hover{
  transition: 3s;
  font-size: 3rem;
  color: rgb(27, 163, 152);
}
/*MAIN*/

.descricao{
  display:inline;
  position: relative;
  width: 60%;
  top: 5rem;
}
.descricao-imagem{
  width: 30%;
}
.descricao-informacao-div1{
  color: azure;
  font-family: "Architects Daughter";
  max-width: 60%;
  max-height: 50%;
  margin: 0 1rem;
  padding: 0 3rem;
}
.descricao-informacao-div2{
  color: aliceblue;
  font-family: "Architects Daughter", cursive;
  max-width: 50%;
  max-height: 50%;
  text-align: justify;
  margin: 0 1rem;
  padding: 0 3rem;
}
.descricao-informacoes-h4{
  position: relative;
  top: 52px;
  display: inline;
  color: white;
  width: 10rem;
  margin: 0 2rem ;
}
.descricao-informacoes-p{
  position: relative;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  display: inline;
  color: white;
  margin-right: 20px;
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}

