@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



body {
    background-color: rgb(0, 0, 0);
  }

nav.container-navbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
a {
  color: rgb(0, 0, 0);
}
a:hover {
  color: #2de947;
}
.navbar-item {
  border: 1px solid #2de947;
  padding: 0px 2px;
  margin: 13px;
  border-radius: 70px;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #2de947;
  width: 100px;
  max-height: 30px;
  display: inline-block;
  text-align: center;
}
.navbar-item:hover {
  background-color:black;
}

header {
  display: block;
  text-align: center;
  background-image: url("logogif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -3em;
  height: 300px;
  padding-top: 30px;
 }

h1 {
  display: block;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  color: #2de947;
  text-align: center;
}

p {
    color:white;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5em;;
}

 .menu section {
  border: none;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 80px;
}

.button, .input {
  font-family:'Architects Daughter', cursive;
  font-size: 18px;
  color:rgb(14, 5, 5);
  border-radius: 5px;
}
 
.input {
  width: 150px;
}

.container-cards {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #000000;
  display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 30px;
}

.container-cards > section {
flex: 1 1 10px;
}

section.card {
  margin: 10px;
  padding: 5px;
  border: solid 4px #020202;
  border-radius: 25px;
  width: 270px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.card-img {
  margin: 0px;
  border-radius: 15px;
  max-width: 270px;
}

.name {
  text-align: center;
  font-family:'Architects Daughter', cursive;
  font-size: 22px;
  font-weight: 800;
  padding: 3px 5px;
  color: #ffffff; 
}

.info {
  text-align: center;
  margin: 0px 25px;
  font-family:'Architects Daughter', cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 1px 11px;
  color: #ffffff;
  display: block;
}

.list {
  list-style: none;
}

footer {
  padding: 1rem;
  background-image: linear-gradient(to bottom, black, #2de947 );
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  color: #000000;
}

h2 {
  margin-top: 100px;
  font-size:20px;
}

.social-media {
  margin: 2px;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-list-item {
  display: block;
  margin: 1rem;
}

.social-media-list-item img {
  width: 100%;
  max-width: 20px;
}

