@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0); 
}

.header-banner {
  display: block;
  align-items: center;;
  background-image: url("logogif.gif");
  background-repeat: no-repeat;
  height: 250px;
  max-width: 900px;
  margin: auto;
}

.titulo-menu {
  display: block;
  font-size: 4em;
  margin: auto;
  padding-top: 20vh;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  color: #2de947;
  max-width: 1000px;
  text-align: center;
}

p {
  color:white;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;;
}


.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  
}

.menu section {
  border: none;
  margin: 50px;
}



.button, .input {
  font-family:'Architects Daughter', cursive;
  font-size: 18px;
  color:rgb(14, 5, 5);
  border-radius: 5px;
}
 
.input {
  width: 150px;
}

.container-cards {
  max-width: 1000px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #000000;
  display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 30px;
    transition: all 0,3%;
}


section .card {
  margin: 20px;
  border: solid 4px #2de947 ;
  border-radius: 25px;
  max-width: 250px;
  background-color: black ;
  text-align: center;
}


.container-cards :hover{
  transition: 0.3%;
  transform: scale(1.10,1.10);
}


.card-img {
  border-radius: 50%;
  max-width: 150px;
  margin: 15px;
}

.name {
  text-align: center;
  margin: 10px;
  font-family:'Architects Daughter', cursive;
  font-size: 20px;
  font-weight: 800;
  padding: auto;
  color: #ffffff; 
}

.info {
  text-align: center;
  margin: 15px;
  font-family:'Architects Daughter', cursive;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  
  
}


footer {
  padding: 1rem;
  background-image: linear-gradient(to bottom, black, #2de947 );
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  color: #000000;
}

h2 {
  margin-top: 100px;
  font-size:20px;
}

.social-media {
  margin: 2px;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-list-item {
  display: block;
  margin: 1rem;
}

.social-media-list-item img {
  width: 100%;
  max-width: 20px;
}

